
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */